:root {
    --primary-color: black;
    --secondary-color: gold;
    --tertiary-color: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    padding: 60px;
}

/*-----Header Section-----*/
.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
}

.header a h1 {
    color: var(--primary-color);
}

.header h1 {
    font-size: 30px;
    background-color: var(--secondary-color);
    padding: 10px;
}

.header h1:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.header nav {
    color: var(--secondary-color);
    font-size: 23px;
}

.header nav ul {
    display: flex;
    list-style: none;
    margin-top: 5px;
}

.header nav ul li {
    color: var(--secondary-color);
    margin-right: 50px;
    padding: 10px;
}

.header nav ul li:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header nav ul li a {
    color: inherit;
}

.header nav ul li a:hover {
    color: inherit;
}


/*-----Hero Section-----*/
.hero {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 50vh;
    color: var(--secondary-color);
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.hero p {
    line-height: 1.7;
    font-size: 20px;
    padding-left: 20px;
}

#subtitle {
    background-color: var(--primary-color);
    padding: 15px;
}