:root {
    --primary-color: black;
    --secondary-color: gold;
    --tertiary-color: white;
}


/*-----Universal and Element Styles-----*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section {
    padding: 60px;
}

/*-----Utility Styles-----*/
.section-heading {
    flex: 1 25%;
    border-right: 5px solid var(--secondary-color);
    margin-right: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 50px;
}

.section-heading h2 {
    font-size: 70px;
}

.small-tile {
    height: 180px;
}

/*-----Header Section-----*/
.header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
}

.header a h1 {
    color: var(--primary-color);
}

.header h1 {
    font-size: 30px;
    background-color: var(--secondary-color);
    padding: 10px;
}

.header h1:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.header nav {
    color: var(--secondary-color);
    font-size: 23px;
}

.header nav ul {
    display: flex;
    list-style: none;
    margin-top: 5px;
}

.header nav ul li {
    color: var(--secondary-color);
    margin-right: 50px;
    padding: 10px;
}

.header nav ul li:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header nav ul li a {
    color: inherit;
}

.header nav ul li a:hover {
    color: inherit;
}


/*-----Hero Section-----*/
.hero {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: 50vh;
    color: var(--secondary-color);
}

.hero h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.hero p {
    line-height: 1.7;
    font-size: 20px;
    padding-left: 20px;
}

#subtitle {
    background-color: var(--primary-color);
    padding: 15px;
}


/*-----About Me Section-----*/
.about-me {
    display: flex;
    justify-content: center;
}

.about-content {
    flex: 1 75%;
}

.about-content p {
    line-height: 1.5;
    font-size: 20px;
}

.about-content p:not(:first-child) {
    margin-top: 20px;
}


/*-----Work Section-----*/
.work {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.work .section-heading {
    border-right: 5px solid var(--tertiary-color);
}

.work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 75%;
}

.work-content a {
    text-decoration: none;
}

.work-content>:first-child {
    flex: 1 100%;
}

.work-content>:not(:first-child) {
    flex: 1 40%;
    height: 200px;
}

.work-tile {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    border: 3px solid var(--tertiary-color);
    padding-bottom: 20px;
    margin: 10px;
}

.tile-title {
    display: flex;
    justify-content: center;
    background-color: var(--tertiary-color);
    padding: 15px;
}

.tile-title h3 {
    color: var(--primary-color);
    font-size: 24px;
}

#fanpage {
    background-image: url(../img/fanpage.png);
    background-position: center;
    background-size: cover;
    height: 480px;
}

#fanpage:hover {
    background-image: url(../img/fanpagehover.jpg);
}

#runbuddy {
    background-image: url(../img/runbuddy.png);
    background-position: center;
    background-size: cover;
}

#runbuddy:hover {
    background-image: url(../img/runbuddyhover.jpg);
}

#refactoring {
    background-image: url(../img/refactoring.png);
    background-position: center;
    background-size: cover;
}

#refactoring:hover {
    background-image: url(../img/refactoringhover.jpg);
}

#frogger {
    background-image: url(../img/frogger.jpg);
    background-position: center;
    background-size: cover;
}

#frogger:hover {
    background-image: url(../img/froggerhover.jpg);
}

#hitthekeys {
    background-image: url(../img/hitthekeys.jpg);
    background-position: center;
    background-size: cover;
}

#hitthekeys:hover {
    background-image: url(../img/hitthekeyshover.jpg);
}


/*-----Contact Info-----*/
.contact-me {
    display: flex;
    justify-content: center;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 75%;
}

.contact-info h3 {
    font-size: 26px;
}

.contact-info a {
    color: var(--primary-color);
}